//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定
@import "lib/community";


body {
	font-family: "noto-bold", sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: #fff;
	color: #222222;
}

::selection {
	background-color: #ff0033; //コピーの色を変える
}
::-moz-selection {
	background-color: #ff0033;
}

.pc-content {
	background-color: #fff;
	background-image: radial-gradient(#ffcd03 10%, transparent 20%), radial-gradient(#ffcd03 10%, transparent 20%);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
	width: 100%;
	height: 100vh;
	text-align: center;
	.pc-logo {
		width: 200px;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.pc-title {
		width: 30%;
		padding-top: 100px;
		display: block;
		margin: 0 auto;
	}
	.pc-first {
		margin-top: 50px;
	}
	p {
		letter-spacing: 1px;
		font-size: 18px;
		background-color: #fff;
		display: table;
		margin: 10px auto 0px;
		padding: 5px;
	}
	@include max-screen($breakpoint-mobile) {
		display: none;
	}
}
