doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" href="img/favicon.png")
    title nippoly 900 anniversary
  body
   div.top
    img.sp-logo(src="img/nippoly-logo_white.png" alt="")
    img.sp-title(src="img/title.png" alt="")
    h1 “毎日を記録し、ふりかえる”
    p.sp-first “毎日を記録し、ふりかえる”
    p 日報は毎日やったことをふりかえるという
    p 小さな行動の中に大きな結果を生み出す
    p 力があると信じています。
    p 友達の中で始めた小さな日報が
    p 半年たち、ついに900日報を迎えたということで
    p 簡単ながらインフォグラフィックを製作しました。
    p これを見て少しでも興味をもったり、
    p 「日報って面白そう」と思っていただけると幸いです。
    img.arrow-scroll(src="img/arrow_bg.png")
   div.nippo_histry
   div.pc-content
    img.pc-logo(src="img/nippoly-logo_white.png" alt="")
    img.pc-title(src="img/title.png" alt="")
    p.pc-first 当サイトをご覧いただきありがとうございます。
    p このサイトはスマートフォン専用です。
    p スマートフォンからアクセスしてください。
   script(src="js/bundle.js")