doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" href="img/favicon.png")
    title nippoly 900 anniversary
  body
   div.pc-content
    img.pc-logo(src="img/nippoly-logo_white.png" alt="")
    img.pc-title(src="img/title.png" alt="")
    p.pc-first 当サイトをご覧いただきありがとうございます。
    p このサイトはスマートフォン専用です。
    p スマートフォンからアクセスしてください。
   script(src="js/bundle.js")